<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="UTF-8"/>
        <title>Restablecer Contraseña</title>
        <link rel="stylesheet" type="text/css" href="static/css/_main.css" th:href="@{/css/_main.css}"/>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    </head>
    <body class="body1" style="background-color:#DAE8FC; padding-bottom: 220px;">
        <header th:replace="layout/plantillas::header"/>
        <br/>
        <div class="container text-center">
            <div th:if=${param.error}>
                <h6 class="alert alert-danger">No se pudo cambiar la contraseña.</h6>
            </div>
            <br/>
            <div class="container text-center">
                <div class="recuadro_admin_central" style="width: 50%; margin:auto; display: flex; flex-direction: column; justify-content: center; align-items: center ">
                    <h2>Cambiar la Contraseña</h2>
                    <form th:action="@{/reset-password}" method="post">
                        <input type="hidden" name="email" th:value="${email}"/>
                        <!--Password-->
                        <div class="form-floating mb-3">
                            <input type="password" id="newPassword" name="newPassword" class="form-control" minlength="8" maxlength="20" required=""/>
                            <label for="newPassword">Nueva Contraseña</label>
                        </div>
                        <!--Repita Password-->
                        <div class="form-floating mb-3">
                            <input id="repetir_password" type="password" class="form-control" required=""/>
                            <label for="repetir_password">Repita la Contraseña</label>
                        </div>
                        <button id="submitbutton" type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                        <!--Regresa a la pagina de Inicio-->
                        <a class="btn btn-danger" th:href="@{/login}">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
        <footer th:replace="layout/plantillas::footer"/>
        <!--El siguiente script deshabilita el botón "solicitar alta" y sólo se habilita cuando los campos de las contraseñas coinciden-->
        <script>
            // Add an event listener for when the input changes (not just on input)
            document.getElementById('newPassword').addEventListener("input", comparePasswords);
            document.getElementById('repetir_password').addEventListener("input", comparePasswords);

            function comparePasswords() {
                // Get the password values
                var password = document.getElementById('newPassword').value;
                var repeatPassword = document.getElementById('repetir_password').value;

                // Compare the passwords
                if (password === repeatPassword) {
                    // If they match, enable the button
                    document.getElementById('submitbutton').disabled = false;
                } else {
                    // If they don't match, disable the button
                    document.getElementById('submitbutton').disabled = true;
                }
            }
        </script>
        <!--El siguiente script resalta en rojo el campo "repetir la contraseña" si no coincide con "contraseña"-->
        <script>
            document.getElementById('repetir_password').oninput = function () {
                if (document.getElementById('newPassword').value !== document.getElementById('repetir_password').value) {
                    document.getElementById('repetir_password').classList.add('highlight');
                } else {
                    document.getElementById('repetir_password').classList.remove('highlight');
                }
            };
        </script>
    </body>
</html>